@import "tailwindcss";


body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/* Infinite Auto Scroll */
@keyframes scrollX {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.scroll-strip {
  animation: scrollX 20s linear infinite;
}







